<div class="container">

<div class="row">
        <div class="col-md-6 servicecourtl tennisline center">
            <h3 class="tennisball">Potential Court Ad Opportunities</h3>
            <h4>Court Number Signs</h4>
            <h4>Side & Back Fences</h4>
            <h4>Net Tape & Posts</h4>
            <h4>Court Benches</h4>
            <h4>Painted On Court</h4>
            <h4>Facility Name Signs</h4>
        </br>
        </div>
        <div class="col-md-6 servicecourtr tennisline center">
            <h3 class="tennisball center">Tennis Players: Attractive Consumers</h3>
            <h4>50% have household income of $100k+</h3>
            <h4>1.85x more likely to drive luxury car</h3>
            <h4>2.49x more likely to shop at upscale stores</h3>
            <h4>1.73x more likely to take high end vacations</h3>
            <h4>2700+ Average Player Hours Per Court, Per Year</h4>
            <h4>Frequent players spend $758 yearly on tennis goods</h3>
            
        </br>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-12 backcourt3 tennisline center">
        </br>
             <h1 class="tennisball center">Game. Set. Match.</h1>
             <h3>Generate Revenue for Local Tennis</h3>
             <h3>&</h3>
             <h3>Market Authentically to Tennis Players for Hours at a Time</h3>
             </br>
             <div class="row">
        
        <%= link_to new_user_registration_path do %>
        <button type="button" class="btn tennisballback tennisblue btn-lg"><strong><span class="glyphicon glyphicon-plus"></span>  &nbsp;List Your Courts Now</strong></button><% end %>&nbsp;&nbsp;&nbsp;
        <%= link_to contact_path do %><button type="button" class="btn btn-info tennisball btn-lg"><strong><span class="glyphicon glyphicon-heart"></span>  &nbsp;Sponsor Courts Now</strong></button><% end %>
    </br>
    </br>
    </br>
</br>

       </div>  
        </div>
    </div>  
</div>