<div class="container">
	<div class="jumbotron backcourt center tennisblueback">

		<h1 class="tennisline">Tennis Court Sponsorships</h1>
		<h2 class="tennisline">We connect local tennis courts to brands</h2>

	</br>
       <div class="row">
		<button type="button" class="btn btn-success btn-lg"><strong><span class="glyphicon glyphicon-plus"></span>  &nbsp;List Your Courts Now</strong></button>&nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-info btn-lg"><strong><span class="glyphicon glyphicon-heart"></span>  &nbsp;Sponsor Courts Now</strong></button>

	</div>


	</div>

	<div class="row">
        <div class="col-md-6 servicecourtl tennisline center">
            <strong>
        	<h3>Why List Your Court for Sponsorship?</h3>

        	<h4><span class="glyphicon glyphicon-ok-sign"></span> It's 100% Free. Always.</h4>
        	<h4><span class="glyphicon glyphicon-usd"></span> Increase Revenue</h4>
        	<h4><span class="glyphicon glyphicon-credit-card"></span> Get Paid Securely</h4>
        	<h4><span class="glyphicon glyphicon-heart"></span> Approve or Decline Sponsors</h4>
        	<h4><span class="glyphicon glyphicon-check"></span> Control Price & Other Details</h4>
        	<h4><span class="glyphicon glyphicon-star"></span> Offset Court Maintenance Costs</h4>
        	<h4><span class="glyphicon glyphicon-time"></span> Streamline the Process</h4>
        	<h4><span class="glyphicon glyphicon-signal"></span> Boost Tennis Court Traffic</h4></strong>
        </br>
        	<button type="button" class="btn btn-success btn-lg"><strong><span class="glyphicon glyphicon-plus"></span>  &nbsp;List Your Courts Now</strong></button>
        </br>
        </br>
            
        </div>
        <div class="col-md-6 servicecourtr tennisline center"><strong>
        	<h3>Why Sponsor Tennis Courts?</h3>
        
        	<h4><span class="glyphicon glyphicon-ok-sign"></span> Free to Request a Sponsorship</h4>
        	<h4><span class="glyphicon glyphicon-user"></span> Reach Targeted Tennis Audience with Ads</h4>
        	<h4><span class="glyphicon glyphicon-flag"></span> Access Exclusive Court Locations</h4>
        	<h4><span class="glyphicon glyphicon-heart"></span> Scale Your Ad Campaigns</h4>
        	<h4><span class="glyphicon glyphicon-check"></span> Assistance With Creative</h4>
        	<h4><span class="glyphicon glyphicon-wrench"></span> Full Service Implementation</h4>
        	<h4><span class="glyphicon glyphicon-globe"></span> Control Ad Locations Worldwide</h4>
        	<h4><span class="glyphicon glyphicon-dashboard"></span> Measure ROI</h4></strong>
        </br>
        	<button type="button" class="btn btn-info btn-lg"><strong><span class="glyphicon glyphicon-heart"></span>  &nbsp;Sponsor Courts Now</strong></button>
        </br>
        </br>
        </div>
    </div>

</div>

	