<div class="container">

	<div class="jumbotron backcourt tennisline">
		<h1 class="center tennisball">How It Works</h1>
		<h2 class="center">We work hard for local tennis sustainability by connecting brands to unique court sponsorship opportunities</h2>
		<hr class="featurette-divider">
		<h1 class="center tennisball">For Tennis Courts</h1>
		<h3><span class="label tennisballback tennisblue">1</span> Sign up and list your courts. We pitch them to brands for you.</h3>
		<h3><span class="label tennisballback tennisblue">2</span> Brands submit proposals to sponsor your courts</h3>
		<h3><span class="label tennisballback tennisblue">3</span> You can accept or deny proposals</h3>
		<h3><span class="label tennisballback tennisblue">4</span> Finalize details & install ads</h3>
		<h3><span class="label tennisballback tennisblue">5</span> Receive payment securely</h3>
	
	<div class="center"><%= link_to new_user_registration_path do %><button type="button" class="btn tennisballback center tennisblue"><strong><span class="glyphicon glyphicon-plus"></span>  &nbsp;List Your Courts Now</strong></button><% end %></div>
	
	<hr class="featurette-divider">
		<h1 class="center tennisball">For Brands</h1>
		<h3><span class="label tennisballback tennisblue">1</span> We give you court sponsorship opportunites</h3>
		<h3><span class="label tennisballback tennisblue">2</span> We work with you on authentic creative</h3>	
		<h3><span class="label tennisballback tennisblue">3</span> You submit a proposal to courts</h3>
		<h3><span class="label tennisballback tennisblue">4</span> We help produce marketing</h3>
		<h3><span class="label tennisballback tennisblue">5</span> Finalize details and pay securely</h3>
		<div class="center">
		<%= link_to contact_path do %><button type="button" class="btn btn-info tennisball center"><strong><span class="glyphicon glyphicon-heart"></span>  &nbsp;Sponsor Courts Now</strong></button><% end %></div>
		
	</div>
	
</div>
