@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #2ecc71;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-inverse-bg: #ecf0f1;

$navbar-height: 50px;
$brand-primary: #2ecc71;
$navbar-brand: #2ecc71;
@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
     color: #419edd !important;
}

.navbar-header {
	color: #2ecc71;
}

.tennisline {
	color: #ecf0f1 !important;
}    

.tennisgreen {
     color: #2ecc71 !important;
}

.tennisblue {
	color: #419edd;
}

.tennisball {
	color: #C6ED2C !important;
}

.tennislineback {
	background-color: #ecf0f1;
}

.tennisgreenback {
	background-color: #2ecc71;
}

.tennisblueback {
	background-color: #419edd;
}


.tennisballback {
	background-color: #C6ED2C !important;
}

.backcourt {
	border-style: solid;
    border-width: 20px;
    border-color: #ecf0f1;
    border-radius: 5px;
    background-color: #419edd; 
}

.servicecourtl {
	border-style: solid;
    border-width: 20px;
    border-right-width: 10px;
    border-color: #ecf0f1;
    background-color: #419edd; 
    padding-top: 0px;

}

.servicecourtr {
	border-style: solid;
    border-width: 20px;
    border-left-width: 10px;
    border-color: #ecf0f1;
    background-color: #419edd;
    padding-top: 0px; 

}

.backcourt2 {
	border-style: solid;
    border-width: 20px;
    border-color: #ecf0f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #419edd;
    border-bottom-width: 0;

}

.headline {

font-size: 62px;
}


.signupforms {

  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.brandfontsize {

	font-size: 20px;
}

.backcourt3 {
	border-style: solid;
    border-width: 20px;
    border-color: #ecf0f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #419edd;
    border-top-width: 0;

}

.infoblue {
  color: #39b3d7 !important;
}

.infoblueback {
  background-color: #39b3d7 !important;
}

.centering {

  margin-left: auto;
  margin-right: auto;

}

.recentcourts {

  border-width: 10px;
  border-color: #ecf0f1;
  
}

.courtsheight {
  margin-bottom: 0px;
  margin-top: 0px;
}

.courtstop {
  height: 215px;
}

.courtsbottom {
  height: 200px;

}



